.header-container {
  .top-link {
    a {
      color: inherit;
      line-height: 38px;
      svg {
        vertical-align: text-top;
      }
    }
  }
  .header-route {
    li {
      height: 100%;
      position: relative;
      padding-right: 25px;
      margin-right: 25px;
      display: flex;
      align-items: center;
      cursor: pointer;
      a {
        color: inherit;
      }
      .li-dropdown {
        display: flex;
        align-items: center;
      }
      @media screen and (min-width: 970px) {
        &:hover {
          color: #f14d55;
          &:after {
            width: calc(100% - 25px);
          }
        }
        &:after {
          content: " ";
          position: absolute;
          left: 0;
          bottom: 1px;
          width: 0;
          height: 2px;
          background-color: #f14d55;
          transition: width 0.5s ease;
        }
        &:last-child {
          &::before {
            width: 0;
          }
        }
      }
    }
  }
  @media screen and (max-width: 970px) {
    .header-link {
      background: #000;
      position: fixed;
      top: 64px;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 2000;
      .header-route {
        min-height: calc(100vh - 450px);
        margin-bottom: 20px;
        li {
          padding: 16px 48px;
          font-size: 1.8rem;
        }
      }
    }
  }
  .h-r-box {
    .h-r {
      margin-left: 10px;
      svg {
        cursor: pointer;
      }
    }
  }
}

//导航的偷懒放一起吧
.footer-ul {
  li {
    margin-left: 50px;
    &:nth-child(3) {
      min-width: 178px;
    }
    &:last-child {
      p:nth-child(3) {
        font-size: 20px;
      }
    }
    p {
      line-height: 40px;
    }
  }
}
