@font-face {
  font-family: ftn35;
  src: url("./ftn35_0.otf");
  font-weight: normal;
}
@font-face {
  font-family: ftn36;
  src: url("./ftn36_0.otf");
  font-weight: normal;
}
@font-face {
  font-family: ftn45;
  src: url("./ftn45_0.otf");
  font-weight: normal;
}
@font-face {
  font-family: ftn46;
  src: url("./ftn46_0.otf");
  font-weight: normal;
}
@font-face {
  font-family: ftn55;
  src: url("./ftn55_0.otf");
  font-weight: normal;
}
@font-face {
  font-family: ftn56;
  src: url("./ftn56_0.otf");
  font-weight: normal;
}
@font-face {
  font-family: ftnB;
  src: url("./FuturaPTBold.otf");
  font-weight: bold;
}
