@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(@/assets/commonCss/common.antd.scss);

html {
  font-size: 10px;
  background-color: #fff;
}
:root {
  font-family: ftn35;
  line-height: 1.5;
  color-scheme: light dark;
  color: #000;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  // font-weight: 500;
  color: #000;
  text-decoration: inherit;
}
a:hover {
  color: #f14d55;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}
p {
  margin: 0;
}
button {
  outline: none;
  box-shadow: none;
}
h1 {
  margin: 0;
}
input {
  background: transparent;
}

/* 公共样式 public */
.w-default {
  max-width: 1200px;
  min-width: 350px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: 970px) {
    padding: 0 16px;
  }
}
.to-top {
  padding-top: 84px;
  @media screen and (max-width: 970px) {
    padding-top: 64px;
  }
}
.bg-common {
  // background-color: #658adb;
  background: white;
}
.bg-gradient {
  // background: linear-gradient(to left, #ffa801, #ff7900);
  background: #4ab3fd;
}

.header-dropdown-li {
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
  min-width: 20rem;
  padding: 0 10px;
  &.dropdown-li-w {
    min-width: 100%;
  }
  &:hover .share {
    display: inline-block;
  }
  .share {
    display: none;
  }
  .user-left {
    display: flex;
    align-items: center;
    svg {
      margin-right: 12px;
    }
  }
}
.btn-theme-blue {
  background-color: #ec434c;
  border-radius: 10px;
  border: none;
  color: #fff;
  cursor: pointer;
  @media screen and (max-width: 970px) {
    box-shadow: 0 10px 15px rgb(255 121 0/ 30%);
  }
}
.text-gradient {
  background: #ec434c;
  box-shadow: 5px 20px 50px rgb(255 255 255/ 20%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
}
.btn-common {
  height: 46px;
  border-radius: 40px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid #000;
  background-color: #000;
  transition: background-color 0.2s ease, color 0.2s ease;
  &:hover {
      background: #fff;
      color: #000;
  }
}


/* end of public scss */

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: #000;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  background-color: #000;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  background-color: #737373;
  border-radius: 12px;
}
