// 就是那根-----长长的分割线呗
.bar-breakup {
  height: 2px;
  width: 100%;
  background: #dddddd;
  margin: 5px auto 15px;
  @media screen and (max-width: 970px) {
    margin: 4px auto;
  }
}
// 还有一个图的line再filter和详情里面
.bar-line {
  background-image: url("../img/line.webp");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 9rem cover;
}
// card里面虚线的点点
.bar-dotted {
  padding: 6px;
  background-image: radial-gradient(circle, black 4px, transparent 1px);
  background-size: 10px;
  background-position: -5px;
  @media screen and (max-width: 970px) {
    background-image: radial-gradient(circle, black 3px, transparent 1px);
    background-size: 8px;
  }
}
.tab-border {
  border-bottom: 1px solid #dddddd;
}

// 作为公共的颜色，details里面还要用
.Rarity1 {
  color: #004529;
}
.Rarity2 {
  color: #002945;
}
.Rarity3 {
  color: #3f0045;
}
.Rarity4 {
  color: #453900;
}
.Rarity5 {
  color: #450007;
}
.bg-Rarity1 {
  background: #004529;
}
.bg-Rarity2 {
  background: #002945;
}
.bg-Rarity3 {
  background: #3f0045;
}
.bg-Rarity4 {
  background: #453900;
}
.bg-Rarity5 {
  background: #450007;
}
//

.productlist {
  display: grid;
  grid-template-columns: repeat(auto-fill, 280px);
  justify-content: center;
  width: 100%;
  gap: 30px 20px;
  overflow-y: scroll;
  max-height: 600px;
  .item {
    width: 280px;
    border-radius: 20px;
    color: #fff;
    background: #323232;
    background-image: url("../img/nft-duck-bg.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    overflow: hidden;
    .avatar {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 252px;
      img {
        max-width: 200px;
        max-height: 220px;
      }
    }
    .nft-content {
      background-image: url("../img/light.jpg");
      background-repeat: no-repeat;
      background-position: top center;
      background-size: cover;
      padding: 12px 20px;
    }
    .cont {
      .lable2 {
        font-weight: normal;
        font-size: 2.2rem;
        color: #e8e8e8;
        line-height: 4.6rem;
        text-align: center;
        font-style: normal;
        text-transform: none;
        .star {
          width: 2.3rem;
          height: 2.3rem;
          margin: 0px 5px 5px 0;
        }
      }
    }
  }

  @media screen and (max-width: 970px) {
    grid-template-columns: repeat(auto-fill, 30%);
    column-gap: 12px;
    .item {
      width: 10.2rem;
      min-height: 12.2rem;
      border-radius: 8px;
      .avatar {
        padding: 4px;
        img {
          height: 100px;
          border-radius: 4px;
        }
      }
    }
  }
}

// -- end of -- nft卡片那块的信息
